.donate-btn{
    background-color:#F0C14B ;
    width: 172px;
    height: 28px;
    border: 1px solid #a88734;
    border-radius: 5px;
    cursor: pointer;
}
.cart-child{
    flex-basis: 28%;
    padding: 10px;
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}